.ipInformation {
    max-height: 400px;
    width: 100%;
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 80px;
    z-index: 4;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 3px 2px -1px rgb(0 0 0 / 20%);
    transition: max-height, padding 0.3s ease-in;
}

.ipInformation.ipInformation--collapsed {
    position: fixed;
    max-height: 0;
    top: 300px;
    padding: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.ipInformation--collapsed .ipInformation__close > img {
    transform: unset;
}

.ipInformation--collapsed .ipInformation__title,
.ipInformation--collapsed .ipInformation__value {
    transition-duration: 0s;
    transition-timing-function: ease-out;
    opacity: 0;
}

.ipInformation__item {
    max-width: 230px;
    width: 100%;
    text-align: center;
}

.ipInformation__item > p {
    margin: 8px;
}

.ipInformation__item p:last-of-type {
    margin-top: 0;
    margin-bottom: 14px;
}

.ipInformation__title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #969696;
    transition: opacity 1s ease-in;
}

.ipInformation__value {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
    color: #2B2B2B;
    transition: opacity 1s ease-in;
}

.ipInformation__close {
    position: absolute;
    top: 100%;
    border: navajowhite;
    box-shadow: 2px 3px 2px -1px rgb(0 0 0 / 20%);
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.ipInformation__close > img {
    height: 20px;
    width: 30px;
    transition: all 0.5s ease-in-out;
    transform: rotateZ(180deg);
}

/* Media Queries */
@media (min-width: 376px) {
    .ipInformation.ipInformation--collapsed {
        transition-property: top;
        transition: top 0s ease-in;
        top: 280px;
    }
}

@media (min-width: 768px) {
    .ipInformation {
        width: 90vw;
        max-width: unset;
        top: 130px;
        flex-direction: row;
        align-items: stretch;
    }
    
    .ipInformation__item {
        position: relative;
        text-align: left;
        padding-right: 40px;
        padding-left: 5px;
    }
    
    .ipInformation__value {
        font-size: 15px;
    }

    .ipInformation__item:not(:last-of-type):after {
        content: '';
        height: 65%;
        position: absolute;
        top: 15px;
        right: 0;
        border-right: 1px solid #969696;
    }
}

@media (min-width: 1024px) {
    .ipInformation {
        top: 105px;
        width: 77vw;
        padding: 30px 0;
    }

    .ipInformation__item {
        padding-right: 20px;
    }

    .ipInformation__title {
        font-size: 14px;
    }

    .ipInformation__value {
        font-size: 17px;
    }
}

@media (min-width: 1024px) {
    font-size: 24px;
}

